@media only screen and (max-width: 380px) {
  body {
    font-size: 16px;
  }

  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "PT Sans", "Open Sans", "Fira Sans",
      "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #my-image {
    border-radius: 8px;
    width: 200px;
  }

  .job-title {
    margin-top: 5px;
    font-size: 20px;
  }

  header {
    text-align: center;
    padding: 40px 100px 40px 100px;
  }

  h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .infographic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px 50px 100px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: #f5f5f5;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: #f5f5f5;
  }

  .hidden {
    display: none;
  }

  .form-group input {
    margin-top: 3px;
  }

  .form-group textarea {
    margin-top: 3px;
  }

  .job-title {
    font-size: 16px;
  }

  header {
    padding: 20px;
  }

  .infographic {
    flex-direction: column;
    padding: 20px;
  }

  table {
    font-size: 14px;
  }

  .timeline {
    padding: 20px;
  }

  .timeline-event {
    margin: 20px 0px 40px 0px;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
  }

  .event-date {
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .contact {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  ::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "PT Sans", "Open Sans", "Fira Sans",
      "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #999;
    font-size: 14px;
  }
}
